@import "https://fonts.googleapis.com/css?family=Lato:400,700";

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: #eee;
  font-family: "Lato", sans-serif;
}

li {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

#content-wrapper {
  max-width: 100%;
}

/*--------------------------- Header ---------------------------*/
#header {
  width: 100vw;
  height: 70px;
  display: flex;
  position: fixed;
  padding: 0rem 1rem;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  /* box-shadow: 1px 1px 10px -2px #000000; */
  border-bottom: rgba(0, 0, 0, 0.389) solid 0.1rem;
  z-index: 2;
}

#header-img {
  padding: 0;
  display: flex;
  height: 100%;
}
#header-logo {
  width: 7rem;
  display: block;
  margin: auto 0;
}
/*--------------------------- Nav ---------------------------*/

#nav-bar {
  font-size: 1.2rem;
  padding: 0.2rem 1rem;
  text-align: center;
  display: none;
}
.nav-link {
  margin-bottom: 0.5rem;
}

.nav-dropdown {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
/*--------------------------- Dropdown Nav ---------------------------*/

.dropbtn {
  padding: 0.8rem;
  border: 0.1rem rgb(168, 168, 168) solid;
  cursor: pointer;
  background-color: inherit;
  -webkit-transition: all 0.7s ease 0s;
  -moz-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #dbefe5;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  padding: 1rem 0;
  text-align: center;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 200px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  padding: 1rem;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

/*--------------------------- email ---------------------------*/

#email {
  margin-right: 1rem;
  max-width: auto;
  position: fixed;
  left: 90px;
}
#email input {
  width: 53%;
  padding: 0.8rem;
  border: 0.1rem rgba(168, 168, 168, 0.264) solid;
}

#email input:focus {
  width: 72vw;
  background: #ccc;
  background-color: #f1f1f1;
  outline: none;
}

input[type="email"] {
  -webkit-transition: all 0.7s ease 0s;
  -moz-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}

/*--------------------------- Hero ---------------------------*/

#hero {
  padding-top: 4rem;
}

#hero h1 {
  position: absolute;
  left: 50%;
  margin-left: -100px;
  font-size: 1.2rem;
  padding: 1rem 1rem;
  color: rgb(255, 255, 255);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgba(94, 94, 94, 0.215);
}

#hero img {
  width: 100%;
  object-fit: cover;
}
/*--------------------------- video ---------------------------*/
/* #showcase {
  display: flex;
  flex-direction: column;
}
.showcase__video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.showcase__video iframe,
.showcase__video object,
.showcase__video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
} */
/* .showcase__img.small {
  flex: 1;
  font-size: 0;
} */
/*--------------------------- images ---------------------------*/

#showcase {
  width: 100%;
  margin: auto;

  background-color: rgb(255, 255, 255);
}
#showcase-images {
  display: flex;
}

#showcase-images h2 {
  font-size: 1.2rem;
  color: rgb(255, 255, 255);
  padding: 0.8rem 1rem;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgba(94, 94, 94, 0.215);
}

.showcase__img.large h2 {
  position: relative;
  top: 85%;
}

.showcase__img.large {
  width: 50vw;
  height: 30vh;
  background-image: url(img/dodge2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  moz-box-shadow: inset 0 0 3px #000000;
  -webkit-box-shadow: inset 0 0 3px #000000;
  box-shadow: inset 0 0 3px #000000;
}

.showcase__img {
  width: 50vw;
  height: 15vh;
  background-size: cover;
  background-repeat: no-repeat;
}
.showcase__img.small_1 {
  background-image: url(img/lambo.jpg);
}

.showcase__img.small_2 {
  background-image: url(img/ford-gt2.jpg);
}

/*--------------------------- images ---------------------------*/
.shop-option {
  background-color: rgb(255, 255, 255);
  color: rgb(79, 79, 79);
  text-align: center;
  padding-top: 1rem;
}

#product-tab {
  background-color: rgb(255, 255, 255);
}

.product-option {
  display: flex;
  justify-content: space-around;
  padding: 1.5rem;
}

/*--------------------------- Product Card ---------------------------*/
.product-items {
  background-color: rgba(224, 224, 224, 0.764);
  padding: 3rem 0.1rem;
}

.cards {
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;
  justify-content: center;
}

#euro_car,
#japan_car {
  display: none;
}

.product-card {
  max-width: 450px;
  text-align: center;
  padding: 0 0 2rem 0;
  margin: 1rem 0.5rem;
  background-color: rgba(255, 255, 255, 0.764);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.264);
}

.product-card__img img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  background-color: rgb(142, 142, 142);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.576);
}

.product-card__title {
  text-transform: uppercase;
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-flow: row wrap;
  margin: 1rem;
}
.product-card__title div {
  margin-bottom: 1rem;
}

.product-card span {
  width: 100%;
  margin: 0.2rem;
  font-size: 1.2rem;
  text-transform: initial;
}

.product-items button {
  margin-top: 1rem;
  padding: 0.8rem;
  border: 0.1rem rgb(168, 168, 168) solid;
  cursor: pointer;
  background-color: inherit;
}

/*--------------------------- Media ---------------------------*/

@media (min-width: 1000px) {
  #header {
    width: 100vw;
    height: 90px;
  }
  .dropbtn {
    padding: 1.4rem 2rem;
  }

  #email {
    left: 140px;
  }
  #email input {
    width: 58%;
    padding: 1.4rem 1.5rem;
    border: 0.1rem rgba(168, 168, 168, 0.264) solid;
  }
  #email input:focus {
    width: 11vw;
  }

  #header-logo {
    width: 10.5rem;
  }

  .showcase__img.large {
    width: 50vw;
    height: 100vh;
    padding-top: 65rem;
  }

  .showcase__img.small_1,
  .showcase__img.small_2 {
    width: 50vw;
    height: 50vh;
  }
  #showcase-images h2 {
    padding: 2.5rem 4rem !important;
  }
  h1 {
    padding: 4.5rem 1rem !important;
    font-size: 2.7rem !important;
    left: 40% !important;
    margin-left: 0px !important;
  }
  #showcase-images h2 {
    font-size: 2.4rem;
    top: 40%;
  }

  /*--------------------------- Product Card ---------------------------*/
  .cards {
    flex-direction: row;
  }
}
