@import "https://fonts.googleapis.com/css?family=Lato:400,700";

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: #eee;
  font-family: "Lato", sans-serif;
}

li {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

#content-wrapper {
  max-width: 100%;
}

/*--------------------------- Header ---------------------------*/
#header {
  width: 100vw;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 0rem 0.5rem;
  box-shadow: 1px 1px 10px -2px #000000;
  z-index: 2;
}

#header-img {
  padding: 0;
  order: 0;
  display: flex;
}
#header-logo {
  width: 7rem;
  display: block;
  margin: auto 0;
}
/*--------------------------- Nav ---------------------------*/

#nav-bar {
  font-size: 1.2rem;
  padding: 0.2rem 1rem;
  text-align: center;
  display: none;
}
.nav-link {
  margin-bottom: 0.5rem;
}

.nav-dropdown {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
/*--------------------------- Dropdown Nav ---------------------------*/

.dropbtn {
  margin: auto 2rem;
  padding: 0.8rem;
  border: 0.1rem rgb(168, 168, 168) solid;
  cursor: pointer;
  background-color: inherit;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #fafafa;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  padding: 1rem 0;
  text-align: center;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 200px;
  right: -10px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  padding: 1rem;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

/*--------------------------- email ---------------------------*/

#email {
  margin-right: 1rem;
  max-width: auto;
  position: fixed;
  left: 130px;
}
#email input {
  width: 30%;
  padding: 0.8rem;
  border: 0.1rem rgb(168, 168, 168) solid;
}

#email input:focus {
  width: 82%;
  background: #ccc;
  background-color: #f1f1f1;
  outline: none;
}

input[type="email"] {
  -webkit-transition: all 0.7s ease 0s;
  -moz-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}

/*--------------------------- Hero ---------------------------*/

#hero {
  padding-top: 5rem;
  text-align: center;
}

#hero h1 {
  padding-bottom: 1rem;
}

img {
  width: 100%;
}
#showcase {
  display: flex;
  flex-direction: column;
}
/*--------------------------- video ---------------------------*/
.showcase__video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.showcase__video iframe,
.showcase__video object,
.showcase__video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*--------------------------- images ---------------------------*/

#showcase-images {
  display: flex;
}

.showcase__img.large {
  flex: 1;
  background-image: url(img/dodge2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.large img {
  height: 100%;
}

.small img:nth-child(1) {
  height: 44.8%;
}

.showcase__img.small {
  flex: 1;
  font-size: 0;
}
